
<div class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="full">
           @*  <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>*@
         
            <div class="center logo_section ">
                @* <a href="index.html">
                    <img class="img-responsive" src="images/logo/logo.png" alt="#" /></a> *@
                <img width="50" src="/icons8d.png" alt="#" />
                <img width="50" src="/icons8m.png" alt="#" />
                <img width="50" src="/icons8b.png" alt="#" />
            </div> 
            
        </div>
    </nav>
</div>